<!DOCTYPE html>
<html>
    <head>
        <title>My Site</title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <div class="main">
            {{>header}}

            <p>Use this site to get your weather !</p>

            <form>
                <input type="text" placeholder="Search for location">
                <button>Search</button>
            </form>

            <p class="weather-result"></p>
        </div>   
        
        {{>footer}}

        <script src="/js/script.js"></script>
    </body>
</html>